<mat-card>
  <mat-card-header>
    <mat-card-title>Asignment Detail</mat-card-title>
  </mat-card-header>
  <form #myForm="ngForm">
    <p *ngIf="errorMessage.length > 0" class="text-danger"> {{errorMessage}}</p>    
    <mat-form-field class="field-half-width">
      <mat-select [(ngModel)]="asignment.feature" name="featureSelected" placeholder="Feature Selected" [compareWith]="compareFeatures" required>
        <mat-option *ngFor="let feat of features" [value]="feat">
            {{feat.code + " " + feat.title}}
        </mat-option>
      </mat-select>        
      <mat-error>This field is required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-select [(ngModel)]="asignment.user" name="userSelected" placeholder="User Selected" [compareWith]="compareUsers" required>
        <mat-option *ngFor="let user of users" [value]="user">
            {{user.name}}
        </mat-option>
      </mat-select>        
      <mat-error>This field is required</mat-error>
    </mat-form-field>
    <button type="submit" *ngIf="!isEditMode" [disabled]="!myForm.valid" mat-mini-fab color="primary" (click)="addAsignment()" matTooltip="Add {{getMatTooltipButton()}}">
      <mat-icon>add</mat-icon>
    </button>  
    <button type="submit" *ngIf="isEditMode"  [disabled]="!myForm.valid" mat-mini-fab color="primary" (click)="updateAsignment()" matTooltip="Confirm update {{getMatTooltipButton()}}">
      <mat-icon>check</mat-icon>
    </button>  
    <button type="submit" *ngIf="isEditMode"  mat-mini-fab color="primary" (click)="cancelEditMode()" matTooltip="Cancel update {{getMatTooltipButton()}}">
      <mat-icon>close</mat-icon>
    </button>
    </form>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Asignment List</mat-card-title>
  </mat-card-header>
  <ag-grid-angular 
    #agGrid style="width: 100%; height: 200px;" 
    class="ag-theme-fresh" 
    [gridOptions]="gridOptions" 
    [columnDefs]="columnDefs" 
    [rowData]="rowData" 
    [context]="context" 
    (gridReady)="onGridReady($event)">
  </ag-grid-angular>
</mat-card>
