 
th.mat-sort-header-sorted {
    color: black;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

mat-card {
    width: 45%;
    margin: 1em;
    padding: 10px;
    text-align: left;
}

table {
    width: 70%;
    margin: 1em auto;
    padding: 10px;
    text-align: left;
}

